@using System.Collections.Generic;
@using MyProject4.Models.ViewModel;

@model AddBookGroupViewModel
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<form id="FormAddBook">
    <div class="form-group mb-3">
        @*@Html.LabelFor(d => d.Name)
        @Html.TextBoxFor(d => d.Name, new { id = "Name", @class = "form-control form-items", Attribute = "required" })
        @Html.ValidationMessageFor(d => d.Name, "", new { id = "ValidationName" })*@
    </div>
    <div class="form-group mb-3">
        @Html.LabelFor(d => d.Authors)
        @Html.DropDownListFor(x => Model.Authors, new SelectList(Model.Authors, "Value", "Text"), new { @class = "btn btn-secondary dropdown-toggle form-control", id = "asd" })

        @Html.DropDownListFor(emp => emp.AuthorId,
                    new SelectList(Model.Authors, "Value", "Text"),
                    "Select Author",
                    new { @class = "form-control" })

        @Html.ValidationMessageFor(x => Model.Authors, "", new { id = "ValidationAge" })
        @*in both fields we can reference them by name that is by default, but here we add an id for both*@
    </div>
    <button type="button" onclick="jsAdd()" class="btn btn-primary mb-3">Guardar</button>
</form>

<label id="PersonAdded" style="display: none;">Person succesfully added!</label>

<script>

    var url = "@Url.Content("~/People/Save")";
    function jsAdd() {
        fetch(url, {
            method: "POST",
            body: JSON.stringify({
                Name: document.getElementById("Name").value,
                Age: document.getElementById("Age").value
            }),
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            }
        }).then(function (response) {
            if (response.ok) {
                return response.text();
            } else {
                alert("Ha ocurrido un error");
            }
        }).then(function (data) {
            if (data != "1") {

                const myJSON = data;
                const myObj = JSON.parse(myJSON);

                const n = myObj.filter(e => e.PropertyName == "Name");
                $($('#ValidationName').get(0)).text(n[0].ErrorMessage);

                const a = myObj.filter(e => e.PropertyName == "Age");
                $($('#ValidationAge').get(0)).text(a[0].ErrorMessage);

            } else {
                $($('#PersonAdded').get(0)).show();
                $($('#Name').get(0)).val("");
                $($('#Age').get(0)).val("");
                setTimeout(function () {
                    $($('#PersonAdded').get(0)).hide();
                }, 5000);
            }
        });
    }
</script>