@using MyProject4.Models.ViewModel;
@model List<ListBooksViewModel>
@{
    ViewBag.Title = "List";
}
@{ Layout = null; }

<h2>@ViewBag.Title</h2>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Genre</th>
            <th scope="col">Author</th>
            <th scope="col">Actions</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
        <tr>
            <td scope="row">@p.Name</td>
            <td scope="row">@p.GenreName</td>
            <td scope="row">@p.AuthorName</td>
            <td>
                <input @*onclick="document.location.href='@Url.Content("~/People/edit/?id="+ p.Id)'"*@ type="button" value="Edit" class="btn btn-info" />
            </td>
            <td>
                <input @*onclick="jsDelete(@p.Id)"*@ type="button" value="Delete" class="btn btn-danger" />
            </td>
        </tr>
        }
    </tbody>
</table>

